.main__header {
  font-size: map-get($textsizes, page-heading);
  color: $color-text-page-heading;
  padding: 40px 0px 28px;
  text-align: center;
}

.card-deck {
  margin: 13px 0px !important;
}

.card {
  border-radius: 12px;
  border-style: none;
  min-height: 25vh;
  margin: 0px !important;
}

.card:hover {
  transform: scale(-0.99);
}

.card--default {
  background-color: $color-background-secondary;
}

.card--border {
  background-color: $color-white;
  border: solid 3px $color-pink;
}

.card--solid {
  background-color: $color-pink;
  border: solid 3px $color-white;
}
