$color-background-primary: #e5e5e5;
$color-background-secondary: #f4f3ee;
$color-pink: #c32c72;
$color-white: #ffffff;
$color-text-logo: #262626;
$color-text-header-footer: #8d8d8d;
$color-text-page-heading: #463f3a;

$font-primary: "Open Sans", sans-serif;
$font-menu: "Archivo Narrow", arial, sans-serif;

$textsizes: (
  logo: 36px,
  menu: 18px,
  page-heading: 32px,
  small: 12px,
);
